section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex: 14%;
  border: 1px solid Gray;
}

.inactive {
  background-color: #ddd
}

.CC {
  background-color: pink;
}

.GG {
  background-color: olive;
}
