section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 80%;
  display: inline-block;
  float: left;
}

aside {
  width: 20%;
  display: inline-block;
  float: right;
}

#daily-view {
  width: 100%;
  min-height: 200px;
  background-color: beige;
  display: flex;
}

.header-month {
  justify-content: space-between;
  align-items: center;
}

.cell {
  flex: 14%;
  border: 1px solid Gray;
}

.inactive {
  background-color: #ddd
}

.CC {
  background-color: pink;
}

.GG {
  background-color: olive;
}

.description,
#popup {
  position: absolute;
  top: 0;
  left: 0;
}

#popup {
  background-color: yellow;
  width: 300px;
  height: 300px;
}

.hidden {
  display: none;
}

.today {
  background-color: orange;
}
